@media (max-width: 1500px) {
.rol{
  width:1350px ;
  height:800px ;
}

.caja{
  position: relative;
  right: 150px;
}
header{
width:1350px;
}

}

@media (max-width: 720px) {

.rol{
  width:720px ;
  height: 810px;
}

header{
  width: 720px;
}
.caja{
width: 100px;
position: relative;
right: 90px;
}


}