
@media (max-width: 1500px) {

header {
  width: 1500px;
 max-width:1500px ;
  background: #06e924;
}

.container {
  width: 1000px;

  overflow: hidden;
  display: inline-block;
}

.div12{
width:1500px ;
height: 1000px;
}
.img {
  width: 100px;
  height: 2%;
}

.text12 {
  
    text-decoration: none;
    color: white;
    font-size: 40px;
    position: relative;
    bottom: 80px;
    left: 500px;
}
.text12:hover{
  text-decoration: none;
  color: #ffffff;
  background: #06e924
  }


  .Boton23 {
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 30px;
    color: #ffffff;
    background-color: rgba(134, 226, 12, 0.808);
    margin-top: 100px;
    margin-bottom: 80px; 
  position: relative;
  top:50px;
  left:90vh ;
    
}
.Boton24 {
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 30px;
  color: #ffffff;
  background-color: rgb(87, 81, 81);
  margin-top: 100px;
  margin-bottom: 80px; 
position: relative;
top:50px;
left:90vh ;
width:300px ;
height:100px ;
 
    
}

.Boton23:hover{
  text-decoration: none;
  color: #ffffff;
  background: #06e924
  }
  .Boton27:hover{
    text-decoration: none;
    color: #ffffff;
    background: #06e924
    }
      
    .Boton25:hover{
      text-decoration: none;
      color: #ffffff;
      background: #06e924
      }
        
      .Boton26:hover{
        text-decoration: none;
        color: #ffffff;
        background: #06e924
        }
          





.cuerpo {
  display: block;
  bottom: 60%;
  width: 500px;
  position: relative;
  top: 40px;
}
.Boton25 {
  text-decoration: none;
  padding: 10px;
  
  font-size: 30px;
  color: #ffffff;
  background-color: rgb(87, 81, 81);
  
position: relative;
top:90px;
left:90vh ;
width:300px ;
height:100px ;
}

.Boton26 {
  text-decoration: none;
  padding: 10px;
  
  font-size: 30px;
  color: #ffffff;
  background-color: rgb(87, 81, 81);
   
position: relative;
top:130px;
left:90vh ;
width:300px ;
height:100px ;
}


.Boton27 {
  text-decoration: none;
  padding: 10px;
  font-size: 30px;
  color: #ffffff;
  background-color: rgb(87, 81, 81);
  font-weight: 600;
position: relative;
top:50px;
left:90vh ;
width:300px ;
height:100px ;

}

.campana {

  width: 30px;
  height: 30px;
  

}
}
@media (max-width: 720px) {

  header {
    width: 720px;
   
  }
  
  .container {
    width: 650px;
  
    overflow: hidden;
    display: inline-block;
  }

  .div12{
    width:720px ;
    height: 810px;
    }
  .Boton27 {
  left: 45px;
  }
  .Boton26 {
 left: 45px;

  }
  .Boton25 {
left:45px;
  }
.text12{
  position: relative;
  left: 120px;
}




  
}
















